<%= turbo_frame_tag "comments_section_#{@disease_status.id}" do %>
  <div class="dash-post__comments">
    <% if @comments.none? %>
      <%= turbo_frame_tag "empty_comments_#{@disease_status.id}" do %>
        <%= render "disease_statuses/empty_comments" %>
      <% end %>
    <% end %>

    <div class="comments-list" id="comments_<%= @disease_status.id %>">
      <%= render partial: "disease_statuses/comment", collection: @comments %>
    </div>
    <div id="next_link_<%= @disease_status.id %>">
      <%= render "disease_statuses/load_more_comments" %>
    </div>
  </div>
  <div class="dash-post__add-comment">
    <%= render "disease_statuses/add_comment_form" %>
  </div>
<% end %>
