<div class="dash-post">
  <header class="dash-post__header">
    <div class="dash-post__header__left">
      <%= image_tag "avatar-placeholder.png", alt: "Logo", class: "dash-post__photo" %>
      <div class="dash-post__header__user">
        <h3 class="dash-post__header__title"><%= disease_status.disease.account.full_name %></h3>
        <p class="dash-post__header__diseae-name">
          <%= disease.predefined_disease.name %>
        </p>
      </div>
    </div>
    <div class="dash-post__header__right">
      <% if disease_status.mood == 1 %>
        <p class="dash-post__mood dash-post__mood--sad">
          <i class="ri-emotion-unhappy-line dash-post__mood__icon"></i>Pogorszenie
        </p>
      <% elsif disease_status.mood == 2 %>
        <p class="dash-post__mood dash-post__mood--normal">
          <i class="ri-emotion-normal-line dash-post__mood__icon"></i>Bez zmian
        </p>
      <% elsif disease_status.mood == 3 %>
        <p class="dash-post__mood dash-post__mood--happy">
          <i class="ri-emotion-happy-line dash-post__mood__icon"></i>Polepszenie
        </p>
      <% else %>
        <p class="dash-post__mood dash-post__mood--sad">
          <i class="ri-sad-line dash-post__mood__icon"></i>Nieznane
        </p>
      <% end %>
      <div data-controller="dropdown" class="dash-dropdown">
        <button class="dash-dropdown__button" type="button" data-action="dropdown#toggle click@window->dropdown#hide">
          <i class="ri-more-fill"></i>
        </button>
        <div
          data-dropdown-target="menu"
          class="hidden transition transform origin-top-right dash-dropdown__list "
          data-transition-enter-from="opacity-0 scale-95"
          data-transition-enter-to="opacity-100 scale-100"
          data-transition-leave-from="opacity-100 scale-100"
          data-transition-leave-to="opacity-0 scale-95"
        >
          <%= link_to edit_disease_disease_status_path(disease, disease_status),
              data: { action: "dropdown#toggle" }, class: "dash-dropdown__item" do %>
            <i class="ri-edit-line dash-dropdown__item__icon"></i> Edytuj
          <% end %>
          <%= button_to [disease, disease_status], method: :delete, class: "dash-dropdown__item",
              data: { action: "dropdown#toggle", confirm: "Are you sure?", turbo_confirm: "Are you sure?" } do %>
            <i class="ri-close-line dash-dropdown__item__icon dash-dropdown__item__icon--delete"></i> Usuń
          <% end %>
        </div>
      </div>
    </div>
  </header>
  <div class="dash-post__content">
    <p class="dash-post__text">
      <%= disease_status.content %>
    </p>
  </div>
  <div class="dash-post__interactions">
    <%= link_to disease_disease_status_comments_path(disease, disease_status),
         data: { turbo_frame: "comments_section_#{disease_status.id}" },
         class: "dash-post__interaction dash-post__interaction--comment" do %>
      <i class="ri-chat-3-line dash-post__interaction__icon"></i>
      <span class="dash-post__interaction__count" id="comments_count_<%= disease_status.id %>">
        <%= disease_status.comments.size %>
      </span>
    <% end %>
    <% if liked_statuses.to_a.include?(disease_status.id) %>
      <%= render partial: "disease_statuses/unlike_button", locals: { disease:, disease_status: } %>
    <% else %>
      <%= render partial: "disease_statuses/like_button", locals: { disease:, disease_status: } %>
    <% end %>
    <p class="dash-post__date">
      <%= l disease_status.created_at, format: :long %>
    </p>
  </div>
  <%= turbo_frame_tag "comments_section_#{disease_status.id}" %>
</div>
