<p style="color: green"><%= notice %></p>

<%= render @disease_status %>

<div>
  <%= link_to "Edit this disease status", edit_disease_status_path(@disease_status) %> |
  <%= link_to "Back to disease statuses", disease_statuses_path %>

  <%= button_to "Destroy this disease status", @disease_status, method: :delete %>
</div>
