<%= turbo_frame_tag "comments_section_#{@disease_status.id}" do %>
  <div class="disease-status__comments">
    <% unless @comments.any? %>
      <p class="disease-status__comments__empty">Brak komentarzy</p>
    <% end %>
    <div class="comments-list" id="comments_<%= @disease_status.id %>">
      <%= render partial: "comment", collection: @comments %>
    </div>
    <div id="next_link_<%= @disease_status.id %>">
      <%= render partial: "show_more_comments", locals: { pagy: @pagy } %>
    </div>
  </div>
  <div class="disease-status__add-comment">
    <%= form_with model: [@disease, @disease_status, Comment.new], html: { class: "add-comment-form" } do |f| %>
      <div class="add-comment-form__group">
        <%= f.text_area :body, data: { controller: "textarea-autogrow" },
            class: "add-comment-form__body", placeholder: "Dodaj komentarz" %>
        <footer class="add-comment-form__footer">
          <div class="add-comment-form__actions">
            <span class="add-comment-form__action">
              <i class="ri-emoji-sticker-line"></i>
            </span>
            <span class="add-comment-form__action">
              <i class="ri-file-gif-line"></i>
            </span>
            <span class="add-comment-form__action">
              <i class="ri-image-add-line"></i>
            </span>
          </div>
          <%= button_tag type: :submit, class: "add-comment-form__submit" do %>
            <i class="ri-send-plane-2-fill"></i>
          <% end %>
        </button>
      </footer>
    <% end %>
  </div>
<% end %>
