<%= form_with model: [@treatment, @treatment_disease], html: { class: "dash-form" } do |f| %>
  <div class="dash-form__container">
    <div class="dash-form__group">
      <div class="dash-form__group__container">
        <div class="dash-form__group__left">
          <div class="dash-form__group__title"><%= t(".disease_id.title") %></div>
          <p class="dash-form__group__description"><%= t(".disease_id.description") %></p>
        </div>
        <div class="dash-form__group__right">
          <%= f.select :disease_id, options_for_select(@diseases), { include_blank: false },
              class: "dash-form__input dash-form__select" %>
        </div>
      </div>
      <%= render DashFormErrorComponent.new(model: @treatment_disease, field: :disease_id) %>
    </div>
  </div>
  <div class="dash-form__group">
    <%= f.submit t("dash_form.submit"), class: "dash-form__submit dash-button dash-button--new" %>
  </div>
<% end %>
