<%= form_with(model: @disease_risk_factor, url:, html: { class: "dash-form" } ) do |form| %>
  <div class="dash-form__container">
    <div class="dash-form__group">
      <div class="dash-form__group__container">
        <div class="dash-form__group__left">
          <div class="dash-form__group__title"><%= t(".name.title") %></div>
          <p class="dash-form__group__description"><%= t(".name.description") %></p>
        </div>
        <div class="dash-form__group__right">
          <%= form.text_field :name, class: "dash-form__input", placeholder: t(".name.placeholder") %>
        </div>
      </div>
      <%= render DashFormErrorComponent.new(model: @disease_risk_factor, field: :name) %>
    </div>
  </div>
  <div class="dash-form__container">
    <div class="dash-form__group">
      <div class="dash-form__group__container">
        <div class="dash-form__group__left">
          <div class="dash-form__group__title"><%= t(".desc.title") %></div>
          <p class="dash-form__group__description"><%= t(".desc.description") %></p>
        </div>
        <div class="dash-form__group__right">
          <%= form.text_area :description, class: "dash-form__input dash-form__textarea",
              placeholder: t(".desc.placeholder") %>
        </div>
      </div>
      <%= render DashFormErrorComponent.new(model: @disease_risk_factor, field: :description) %>
    </div>
  </div>
  <div class="dash-form__container">
    <div class="dash-form__group">
      <div class="dash-form__group__container">
        <div class="dash-form__group__left">
          <div class="dash-form__group__title"><%= t(".severity.title") %></div>
          <p class="dash-form__group__description"><%= t(".severity.description") %></p>
        </div>
        <div class="dash-form__group__right">
          <div class="dash-form__range" data-controller="range-slider">
            <%= form.range_field :severity, min: 1, max: 5, class: "dash-form__range__input",
            data: { range_slider_target: "value", action: "input->range-slider#updateValue"}  %>
            <span class="dash-form__range__value" data-range-slider-target="output">1</span>
          </div>
        </div>
      </div>
      <%= render DashFormErrorComponent.new(model: @disease_risk_factor, field: :severity) %>
    </div>
  </div>
  <div class="dash-form__group">
    <%= form.submit t("dash_form.submit"), class: "dash-form__submit dash-button dash-button--new" %>
  </div>
<% end %>
