<div class="page-disease-risk-factors">
  <header class="dash-header page-disease-risk-factors__header">
    <div class="dash-header__left">
      <h1 class="dash-header__title">
        <i class="ri-fire-line dash-header__title__icon"></i>
        <%= t(".title") %>
      </h1>
      <%= render "shared/breadcrumbs" %>
    </div>
    <div class="dash-header__right">
      <%= link_to new_disease_risk_factor_path, class: "dash-button dash-button--new" do %>
        <i class="ri-add-line dash-button__icon"></i>
        <%= t(".button.new") %>
      <% end %>
      <%= link_to @disease, class: "dash-button dash-button--back" do %>
        <i class="ri-arrow-left-line dash-button__icon"></i>
      <% end %>
    </div>
  </header>
  <div class="dash-flash-messages">
    <%= turbo_frame_tag "flash" do %>
      <%= render "shared/dash_flash" %>
    <% end %>
  </div>
  <div class="page-disease-risk-factors__content">
    <% if @disease_risk_factors.to_a.any? %>
      <div class="risk-factors">
        <% @disease_risk_factors.each do |risk_factor| %>
          <%= link_to disease_risk_factor_path(@disease, risk_factor),
              class: "risk-factors__item" do %>
            <div class="risk-factors__item__group">
              <i class="ri-fire-line risk-factors__item__icon"></i>
              <div>
                <div class="risk-factors__item__title">
                  <%= risk_factor.name %>
                </div>
                <div class="risk-factors__item__severity">
                  Intensywność: <%= risk_factor.severity %>/5
                </div>
              </div>
            </div>
            <i class="ri-arrow-right-s-line risk-factors__item__icon"></i>
          <% end %>
        <% end %>
      </div>
    <% else %>
      <p class="no-results">
        <%= t(".no_results") %>
      </p>
    <% end %>
  </div>
  <div class="dash-pagination">
    <div class="dash-pagination__controls">
      <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
    </div>
    <div class="dash-pagination__info">
      <%== pagy_info(@pagy) %>
    </div>
  </div>
</div>
