<div id="<%= dom_id treatment %>">
  <p>
    <strong>Title:</strong>
    <%= treatment.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= treatment.description %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= treatment.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= treatment.end_date %>
  </p>

  <p>
    <strong>Effectiveness:</strong>
    <%= treatment.effectiveness %>
  </p>

</div>
