<div class="page-treatments">
  <header class="dash-header">
    <div class="dash-header__left">
      <h1 class="dash-header__title">
        <i class="ri-hospital-line dash-header__title__icon"></i>
        Terapie
      </h1>
      <%= render "shared/breadcrumbs" %>
    </div>
    <div class="dash-header__right">
      <%= link_to new_treatment_path, class: "dash-button dash-button--new" do %>
        <i class="ri-add-line dash-button__icon"></i>
        Dodaj terapię
      <% end %>
      <%= link_to authenticated_root_path, class: "dash-button dash-button--back" do %>
        <i class="ri-arrow-left-line dash-button__icon"></i>
      <% end %>
    </div>
  </header>
  <div class="dash-flash-messages">
    <% if flash[:notice].present? %>
      <%= render DashAlertComponent.new(type: :success) do %>
        <%= flash[:notice] %>
      <% end %>
    <% end %>
  </div>
  <div class="page-treatments__content">
    <% if @treatments.to_a.any? %>
      <% @treatments.each do |treatment| %>
        <div class="treatment-card">
          <div class="treatment-card__status">
            <%= effectiveness_to_emoji(treatment.effectiveness) %>
          </div>
          <h2 class="treatment-card__title">
            <%= treatment.title %>
            <% if treatment.is_finished? %>
              <div class="treatment-card__finished" title="Zakończono terapię">
                <i class="ri-check-double-fill"></i>
              </div>
            <% end %>
          </h2>
          <p class="treatment-card__diseases">
            Przypisane choroby: <%= treatment.treatment_diseases.length %>
          </p>
          <div class="treatment-card__footer">
            <span class="treatment-card__date">
              <i class="ri-calendar-line treatment-card__icon"></i>
              Terapia trwa od <%= treatment.days_difference %> dni
            </span>
            <%= link_to "Zobacz", treatment, class: "treatment-card__button" %>
          </div>
        </div>
      <% end %>
    <% else %>
      <p class="no-results">
        Na razie nie dodałeś żadnych terapii.
      </p>
    <% end %>
  </div>
  <div class="dash-pagination">
    <div class="dash-pagination__controls">
      <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
    </div>
    <div class="dash-pagination__info">
      <%== pagy_info(@pagy) %>
    </div>
  </div>
</div>
