<div class="dash-home">
  <div class="dash-home__content">
    <header class="dash-home__header">
      <div class="dash-home__header__left">
        <h1 class="dash-home__header__title">
          <i class="ri-sketching dash-home__header__title__icon"></i>
          <%= t(".welcome", name: current_account.first_name) %>
        </h1>
        <p class="dash-home__header__text"><%= t(".welcome_back") %></p>
      </div>
      <div class="dash-home__header__right">
        <p class="dash-home__header__date">
          <i class="ri-calendar-todo-line"></i>
          <span><%= l Time.now, format: "%d %B %Y" %></span>
        </p>
        <p class="dash-home__header__date">
          <i class="ri-time-line"></i>
          <span><%= l Time.now, format: "%H:%M" %></span>
        </p>
      </div>
    </header>
    <div class="dash-home__flash">
      <%= turbo_frame_tag "flash" do %>
        <%= render "shared/dash_flash" %>
      <% end %>
    </div>
    <div class="dash-home__group">
      <div class="dash-home__group__left">
        <div class="dash-group">
          <header class="dash-group__header">
            <h2 class="dash-group__title">
              <i class="ri-article-line dash-group__title__icon"></i>
              <%= t(".new_posts") %>
            </h2>
            <div class="dash-group__actions">
              <%= link_to diseases_path,
                  class: "dash-button dash-button--gray dash-button--small" do %>
                <i class="ri-add-line dash-button__icon"></i>
                <%= t(".button.add_post") %>
              <% end %>
            </div>
          </header>
          <div class="dash-group__content">
            <div class="dash-home__posts">
              <%= turbo_frame_tag "posts_#{@pagy.page}" do %>
                <% unless @posts.to_a.any? %>
                  <p class="dash-home__text"><%= t(".no_posts") %></p>
                <% else %>
                  <div class="dash-posts-container">
                    <% @posts.each do |post| %>
                      <%= render partial: post, locals: { disease: post.disease, disease_status: post,
                      liked_statuses: @liked_statuses } %>
                    <% end %>
                  </div>
                <% end %>
                <% unless @pagy.page == @pagy.pages %>
                  <%= turbo_frame_tag "posts_#{@pagy.next}", src: account_posts_path(page: @pagy.next),
                  loading: "lazy" do %>
                    <div><%= t(".fetching_posts") %></div>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="dash-home__group__right">
        <div class="dash-group dash-group--border">
          <header class="dash-group__header">
            <h2 class="dash-group__title">
              <i class="ri-bar-chart-line dash-group__title__icon"></i>
              <%= t(".stats") %>
            </h2>
            <div class="dash-group__actions">
              <%= link_to root_path,
                  class: "dash-button dash-button--gray dash-button--small" do %>
                <i class="ri-layout-grid-line dash-button__icon"></i>
                <%= t(".button.adjust_stats") %>
              <% end %>
            </div>
          </header>
          <div class="dash-group__content">
            <div class="dash-home__stats">
              <div class="dash-stat">
                <div class="dash-stat__icon">
                  <i class="ri-stethoscope-line"></i>
                </div>
                <div class="dash-stat__content">
                  <p class="dash-stat__text"><%= current_account.diseases.size %></p>
                  <h3 class="dash-stat__title"><%= t(".diseases") %></h3>
                </div>
              </div>
              <div class="dash-stat">
                <div class="dash-stat__icon">
                  <i class="ri-group-line"></i>
                </div>
                <div class="dash-stat__content">
                  <p class="dash-stat__text"><%= current_account.groups.size %></p>
                  <h3 class="dash-stat__title"><%= t(".groups") %></h3>
                </div>
              </div>
              <div class="dash-stat">
                <div class="dash-stat__icon">
                  <i class="ri-hospital-line"></i>
                </div>
                <div class="dash-stat__content">
                  <p class="dash-stat__text"><%= current_account.treatments.size %></p>
                  <h3 class="dash-stat__title"><%= t(".treatments") %></h3>
                </div>
              </div>
              <div class="dash-stat">
                <div class="dash-stat__icon">
                  <i class="ri-heart-pulse-line"></i>
                </div>
                <div class="dash-stat__content">
                  <p class="dash-stat__text"><%= current_account.measurements.size %></p>
                  <h3 class="dash-stat__title"><%= t(".measurements") %></h3>
                </div>
              </div>
              <div class="dash-stat">
                <div class="dash-stat__icon">
                  <i class="ri-sticky-note-line"></i>
                </div>
                <div class="dash-stat__content">
                  <p class="dash-stat__text"><%= current_account.notes.size %></p>
                  <h3 class="dash-stat__title"><%= t(".notes") %></h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
