<%= form_with(model: @note, html: { class: "dash-form" }) do |f| %>
  <div class="dash-form__container">
    <div class="dash-form__group">
      <div class="dash-form__group__container">
        <div class="dash-form__group__left">
          <div class="dash-form__group__title"><%= t(".title.title") %></div>
          <p class="dash-form__group__description"><%= t(".title.description") %></p>
        </div>
        <div class="dash-form__group__right">
          <%= f.text_field :title, class: "dash-form__input", placeholder: t(".title.placeholder") %>
        </div>
      </div>
      <%= render DashFormErrorComponent.new(model: @note, field: :title) %>
    </div>
  </div>

  <div class="dash-form__container">
    <div class="dash-form__group dash-form__group--large">
      <div class="dash-form__group__container">
        <div class="dash-form__group__left">
          <div class="dash-form__group__title"><%= t(".content.title") %></div>
          <p class="dash-form__group__description"><%= t(".content.description") %></p>
        </div>
        <div class="dash-form__group__right dash-form__group__right--full">
          <%= f.text_area :content, class: "dash-form__input dash-form__textarea",
              placeholder: t(".content.placeholder"), data: { controller: "textarea-autogrow" } %>
        </div>
      </div>
      <%= render DashFormErrorComponent.new(model: @note, field: :content) %>
    </div>
  </div>

  <div class="dash-form__container">
    <div class="dash-form__group">
      <div class="dash-form__group__container">
        <div class="dash-form__group__left">
          <div class="dash-form__group__title"><%= t(".pinned.title") %></div>
          <p class="dash-form__group__description"><%= t(".pinned.description") %></p>
        </div>
        <div class="dash-form__group__right">
          <div class="dash-form__checkbox">
            <%= f.check_box :is_pinned, class: "dash-form__checkbox__input" %>
            <%= f.label :is_pinned, class: "dash-form__checkbox__label" do %>
              <%= t(".pinned.label") %>
            <% end %>
          </div>
        </div>
      </div>
      <%= render DashFormErrorComponent.new(model: @note, field: :is_pinned) %>
    </div>
  </div>

  <div class="dash-form__group">
    <%= f.submit t("dash_form.submit"), class: "dash-form__submit dash-button dash-button--new" %>
  </div>
<% end %>
