<div class="auth auth--signup">
  <div class="auth__content">
    <header class="auth__header">
      <%= image_tag "logo_pl.png", class: "auth__header__logo", alt: "" %>
      <%= link_to 'Strona Główna', root_path, class: "auth__header__link" %>
    </header>

    <div class="auth__main">
      <div class=auth__heading>
        <h1 class="auth__title">Dołącz do nas!</h1>
        <p class="auth__desc">Rozpocznij już teraz, w pełni bezpłatnie.</p>
      </div>

      <div class="auth__social">
        <%= link_to user_google_oauth2_omniauth_authorize_path, method: :post, class: "auth__social-link" do %>
          <%= image_tag "google_logo.svg", class: "auth__social-icon", alt: "" %>
          <span class="auth__social-text">Zaloguj się przez Google</span>
        <% end %>
      </div>

      <p class="auth__separator">
        <span class="auth__separator__line"></span>
        <span class="auth__separator__text">lub</span>
        <span class="auth__separator__line"></span>
      </p>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "auth__form" }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="auth__form__group">
          <%= f.label :email, "E-Mail", class: "auth__form__label" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email",
          class: "auth__form__input", placeholder: "jan.kowalski@gmail.com" %>
        </div>

        <div class="auth__form__group">
          <%= f.label :password, "Hasło", class: "auth__form__label" %>
          <%= f.password_field :password, autocomplete: "new-password",
          class: "auth__form__input", placeholder: "•••••••••••••" %>
        </div>

        <div class="auth__form__group">
          <%= f.label :password_confirmation, "Potwierdź hasło", class: "auth__form__label"  %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password",
          class: "auth__form__input", placeholder: "•••••••••••••" %>
        </div>

        <div class="auth__form__group">
          <%= f.check_box :remember_me, class: "auth__form__checkbox-input" %>
          <%= f.label :remember_me, class: "aero__  form__checkbox-label" do %>
            Akceptuję <%= link_to "regulamin", new_user_session_path, class: "auth__link" %> i <%= link_to "politykę platformy", new_user_session_path, class: "auth__link" %>
          <% end %>
        </div>

        <%= f.submit "Zarejestruj się", class: "auth__form__submit" %>
      <% end %>
      <p class="auth__text">
        Masz już konto? <%= link_to "Zaloguj się", new_user_session_path, class: "auth__link" %>
      </p>
    </div>
  </div>
  <div class="auth__sidebar">
  </div>
</div>
