<div class="auth auth--signup">
  <div class="auth__content">
    <header class="auth__header">
      <%= link_to root_path do %>
        <%= image_tag "logo_pl.png", class: "auth__header__logo", alt: "" %>
      <% end %>
      <%= link_to 'Strona Główna', root_path, class: "auth__header__link" %>
    </header>

    <div class="auth__main">
      <div class=auth__heading>
        <h1 class="auth__title">Dołącz do nas!</h1>
        <p class="auth__desc">Rozpocznij już teraz, w pełni bezpłatnie.</p>
      </div>

      <div class="auth__social">
        <%= link_to user_google_oauth2_omniauth_authorize_path, method: :post, class: "auth__social-link" do %>
          <%= image_tag "google_logo.svg", class: "auth__social-icon", alt: "" %>
          <span class="auth__social-text">Zaloguj się przez Google</span>
        <% end %>
      </div>

      <p class="auth__separator">
        <span class="auth__separator__line"></span>
        <span class="auth__separator__text">lub</span>
        <span class="auth__separator__line"></span>
      </p>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "auth-form" }) do |f| %>
        <% if resource.errors.any? %>
          <div class="auth-form__error" data-turbo-cache="false">
            <h2 class="auth-form__error__title">Nie można wysłać formularza:</h2>
            <ul class="auth-form__error__list">
              <% resource.errors.full_messages.each do |message| %>
                <li class="auth-form__error__item"><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="auth-form__group">
          <%= f.label :email, "E-Mail", class: "auth-form__label" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email",
          class: "auth-form__input", placeholder: "jan.kowalski@gmail.com" %>
        </div>

        <div class="auth-form__group">
          <%= f.label :password, "Hasło", class: "auth-form__label" %>
          <%= f.password_field :password, autocomplete: "new-password",
          class: "auth-form__input", placeholder: "•••••••••••••" %>
        </div>

        <div class="auth-form__group">
          <%= f.label :password_confirmation, "Potwierdź hasło", class: "auth-form__label"  %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password",
          class: "auth-form__input", placeholder: "•••••••••••••" %>
        </div>

        <div class="auth-form__group">
          <%= f.check_box :remember_me, class: "auth-form__checkbox-input" %>
          <%= f.label :remember_me, class: "auth-form__checkbox-label" do %>
            Akceptuję <%= link_to "regulamin", root_path, class: "auth__link" %> i <%= link_to "politykę platformy", new_user_session_path, class: "auth__link" %>
          <% end %>
        </div>

        <%= f.submit "Zarejestruj się", class: "auth-form__submit" %>
      <% end %>
      <p class="auth__text">
        Masz już konto? <%= link_to "Zaloguj się", new_user_session_path, class: "auth__link" %>
      </p>
    </div>
  </div>
  <div class="auth__sidebar">
    <%= link_to "Ilustracja z Freepik", "https://www.freepik.com/free-vector/hand-drawn-crowd-people-walking-illustration_21559642.htm?epik=dj0yJnU9MTNQbzBTLTAxTTNyTmppcnZKYXJJckZObUVmNEhoVXEmcD0wJm49ZDZIMVNIMnhlbzFINlBCVnNmdHhMQSZ0PUFBQUFBR1NxU0lj", class: "auth__credits" %>
  </div>
</div>
