<div class="new-note-tag">
  <header class="dash-header">
    <div class="dash-header__left">
      <h1 class="dash-header__title"><%= t(".title") %></h1>
      <%= render "shared/breadcrumbs" %>
    </div>
    <div class="dash-header__right">
      <%= button_to @note_tag, class: "dash-button dash-button--delete",
          method: :delete, form: { data: { turbo_confirm: t(".button.delete.turbo.confirm") } } do %>
        <i class="ri-close-line"></i>
        <%= t(".button.delete.title") %>
      <% end %>
      <%= link_to notes_path, class: "dash-button dash-button--back" do %>
        <i class="ri-arrow-left-line dash-button__icon"></i>
      <% end %>
    </div>
  </header>
  <div class="dash-flash-messages">
    <%= turbo_frame_tag "flash" do %>
      <%= render "shared/dash_flash" %>
    <% end %>
  </div>
  <div>
    <%= render "form" %>
  </div>
</div>
