<%= form_with model: account, url: setup_account_path, method: :post, html: { class: "auth-form" } do |f| %>
  <% if alert %>
    <div class="auth-form__flash auth-form__alert">
      <%= alert %>
    </div>
  <% end %>

  <% if notice %>
    <div class="auth-form__flash auth-form__success">
      <%= notice %>
    </div>
  <% end %>

  <div class="auth-form__group">
    <%= render(
      AuthInputTextComponent.new(
        form: f,
        model: @account,
        type: :text_field,
        field: :first_name,
        label: t(".first_name.label"),
        options: {
          placeholder: t(".first_name.placeholder")
        }
      ))
    %>
  </div>

  <div class="auth-form__group">
    <%= render(
      AuthInputTextComponent.new(
        form: f,
        model: @account,
        type: :text_field,
        field: :last_name,
        label: t(".last_name.label"),
        options: {
          placeholder: t(".last_name.placeholder")
        }
      ))
    %>
  </div>

  <div class="auth-form__group">
    <%= render(
      AuthInputTextComponent.new(
        form: f,
        model: @account,
        type: :text_field,
        field: :username,
        label: t(".username.label"),
        options: {
          placeholder: t(".username.placeholder")
        }
      ))
    %>
  </div>

  <%= f.submit t(".submit"), class: "auth-form__submit" %>
<% end %>
