<%= form_with(model: @article, html: { class: "dash-form" }) do |f| %>
  <div class="dash-form__container">
    <div class="dash-form__group">
      <div class="dash-form__group__container dash-form__group__container--vertical">
        <div class="dash-form__group__left">
          <div class="dash-form__group__title"><%= t(".title.title") %></div>
          <p class="dash-form__group__description"><%= t(".title.description") %></p>
        </div>
        <div class="dash-form__group__right">
          <%= f.text_field :title, class: "dash-form__input", placeholder: t(".title.placeholder") %>
        </div>
      </div>
      <%= render DashFormErrorComponent.new(model: @article, field: :title) %>
    </div>
  </div>
  <div class="dash-form__container">
    <div class="dash-form__group">
      <div class="dash-form__group__container dash-form__group__container--vertical">
        <div class="dash-form__group__left">
          <div class="dash-form__group__title"><%= t(".body.title") %></div>
          <p class="dash-form__group__description"><%= t(".body.description") %></p>
        </div>
        <div class="dash-form__group__right dash-form__group__right--full">
          <div class="dash-quill" data-controller="quill">
            <%= f.hidden_field :body, data: { quill_target: "input" } %>
            <div data-quill-target="editor" class="dash-quill"></div>
          </div>
        </div>
      </div>
      <%= render DashFormErrorComponent.new(model: @article, field: :body) %>
    </div>
  </div>
  <div class="dash-form__group">
    <%= f.submit t("dash_form.submit"), class: "dash-form__submit dash-button dash-button--new" %>
  </div>
<% end %>
