<div class="page-articles">
  <header class="dash-header">
    <div class="dash-header__left">
      <h1 class="dash-header__title">
        <i class="ri-profile-line dash-header__title__icon"></i>
        Strefa wiedzy
      </h1>
      <%= render "shared/breadcrumbs" %>
    </div>
    <div class="dash-header__right">
      <%= link_to new_article_path, class: "dash-button dash-button--new" do %>
        <i class="ri-add-line dash-button__icon"></i>
        Dodaj nowy artykuł
      <% end %>
      <%= link_to authenticated_root_path, class: "dash-button dash-button--back" do %>
        <i class="ri-arrow-left-line dash-button__icon"></i>
      <% end %>
    </div>
  </header>
  <div class="dash-flash-messages">
    <% if flash[:notice].present? %>
      <%= render DashAlertComponent.new(type: :success) do %>
        <%= flash[:notice] %>
      <% end %>
    <% end %>
  </div>
  <div class="page-articles__content">
    <div class="dash-group">
      <header class="dash-group__header">
        <h2 class="dash-group__title">
          <i class="ri-newspaper-line dash-group__title__icon"></i>
          Wszystkie artykuły
        </h2>
        <div class="dash-group__actions">
          <%= link_to articles_path, class: "dash-button dash-button--light-blue dash-button--small" do %>
            <i class="ri-sort-desc dash-button__icon"></i>
            Sortowanie
          <% end %>
          <%= link_to articles_path, class: "dash-button dash-button--blue dash-button--small" do %>
            <i class="ri-equalizer-line dash-button__icon"></i>
            Filtrowanie
          <% end %>
        </div>
      </header>
      <div class="dash-group__content">
        <% if @articles.to_a.any? %>
          <div class="articles-list">
            <% @articles.each do |article| %>
              <%= link_to article, class: "article" do %>
                <div class="article__image-container">
                  <%= image_tag "article-default.png", class: "article__image" %>
                </div>
                <div class="article__content">
                  <h2 class="article__content__title">
                    <%= article.title %>
                  </h2>
                  <div class="article__content__info">
                    <div class="article__content__info__item">
                      <i class="ri-user-line article__content__info__item__icon"></i>
                      <%= article.account.full_name %>
                    </div>
                    &bull;
                    <div class="article__content__info__item">
                      <i class="ri-calendar-line article__content__info__item__icon"></i>
                      <%= article.updated_at.strftime("%d.%m.%Y") %>
                    </div>
                  </div>
                  <p class="article__content__text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia est eligendi quisquam voluptates ipsum aut ea quam consequatur amet repellendus.</p>
                </div>
              <% end %>
            <% end %>
          </div>
        <% else %>
          <p class="no-results">
            Na razie nie dodano żadnych artykułów.
          </p>
        <% end %>
      </div>
      <div class="dash-pagination">
        <div class="dash-pagination__controls">
          <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
        </div>
        <div class="dash-pagination__info">
          <%== pagy_info(@pagy) %>
        </div>
      </div>
    </div>
  </div>
</div>
