<div class="page-setup-2fa">
  <header class="dash-header">
    <div class="dash-header__left">
      <h1 class="dash-header__title">Skonfiguruj 2FA</h1>
      <%= render "shared/breadcrumbs" %>
    </div>
    <div class="dash-header__right">
      <%= link_to settings_security_path, class: "dash-button dash-button--back" do %>
        <i class="ri-arrow-left-line dash-button__icon"></i>
        Powrót
      <% end %>
    </div>
  </header>
  <div class="dash-flash-messages">
    <% flash.keys.each do |type| %>
      <% if flash[type].present? %>
        <%= render DashAlertComponent.new(type: type.to_sym) do %>
          <%= flash[type] %>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div class="page-setup-2fa__content">
    <div class="setup-2fa">
      <div class="setup-2fa__left">
        <div class="setup-2fa__qr-code">
          <%= @qrcode.as_svg(
                use_path: true,
                viewbox: true,
                shape_rendering: "crispEdges",
                module_size: 11
              ).html_safe
          %>
        </div>
      </div>
      <div class="setup-2fa__right">
        <div class="setup-2fa__totp">
          <p class="setup-2fa__totp__label">Jeżeli nie możesz zeskanować kodu QR, to skopiuj poniższy tekst do aplikacji:</p>
          <p class="setup-2fa__totp__link"><%= @provision_url %></p>
        </div>
        <%= form_with scope: :two_factor_setup, url: settings_two_factor_authentication_confirmations_path,
            method: :post, html: { class: "setup-2fa__form" } do |f| %>
          <div class="setup-2fa__form__group">
            <%= f.label :otp_attempt, "Podaj kod z aplikacji", class: "dash-form__label" %>
            <%= f.text_field :otp_attempt, class: "dash-form__input setup-2fa__form__submit",
                placeholder: "123456", autocomplete: false, required: true, autofocus: true %>
          </div>
          <div class="setup-2fa__form__group">
            <%= f.submit "Potwierdź", class: "dash-button dash-button--new" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
