<%= form_with model: account, url: setup_account_path, method: :post, html: { class: "auth-form" } do |f| %>
  <% if alert %>
    <div class="auth-form__flash auth-form__alert">
      <%= alert %>
    </div>
  <% end %>

  <% if notice %>
    <div class="auth-form__flash auth-form__success">
      <%= notice %>
    </div>
  <% end %>

  <div class="auth-form__group">
    <%= render(
      AuthInputTextComponent.new(
        form: f,
        model: @account,
        type: :text_field,
        field: :first_name,
        label: "Imię",
        options: {
          placeholder: "Jan"
        }
      ))
    %>
  </div>

  <div class="auth-form__group">
    <%= render(
      AuthInputTextComponent.new(
        form: f,
        model: @account,
        type: :text_field,
        field: :last_name,
        label: "Nazwisko",
        options: {
          placeholder: "Kowalski"
        }
      ))
    %>
  </div>

  <div class="auth-form__group">
    <%= render(
      AuthInputTextComponent.new(
        form: f,
        model: @account,
        type: :text_field,
        field: :username,
        label: "Nazwa użytkownika",
        options: {
          placeholder: "jan.kowalski"
        }
      ))
    %>
  </div>

  <%= f.submit "Rozpocznij", class: "auth-form__submit" %>
<% end %>
