<%= form_with(model: [@treatment, @treatment_update], html: { class: "dash-form" }) do |form| %>
  <div class="dash-form__container">
    <div class="dash-form__group">
      <div class="dash-form__group__container">
        <div class="dash-form__group__left">
          <div class="dash-form__group__title">Tytuł</div>
          <p class="dash-form__group__description">Ogólna nazwa zmiany w terapii.</p>
        </div>
        <div class="dash-form__group__right">
          <%= form.text_field :name, class: "dash-form__input",
              placeholder: "Wyjazd do sanatorium" %>
        </div>
      </div>
      <%= render DashFormErrorComponent.new(model: @treatment_update, field: :name) %>
    </div>
  </div>

  <div class="dash-form__container">
    <div class="dash-form__group">
      <div class="dash-form__group__container">
        <div class="dash-form__group__left">
          <div class="dash-form__group__title">Opis</div>
          <p class="dash-form__group__description">Opisz co się zmieniło w terapii.</p>
        </div>
        <div class="dash-form__group__right">
          <%= form.text_area :description, class: "dash-form__input dash-form__textarea",
              placeholder: "Jest to dieta polegająca na spożywaniu tylko tłuszczy i białek." %>
        </div>
      </div>
      <%= render DashFormErrorComponent.new(model: @treatment_update, field: :description) %>
    </div>
  </div>

  <div class="dash-form__container">
    <div class="dash-form__group">
      <div class="dash-form__group__container">
        <div class="dash-form__group__left">
          <div class="dash-form__group__title">Nazwa choroby</div>
          <p class="dash-form__group__description">Wybierz jedną z listy predefiniowanych.</p>
        </div>
        <div class="dash-form__group__right">
          <%= form.select :status, options_for_select(@treatment_status_options, @treatment_update.status),
            { include_blank: false }, class: "dash-form__input dash-form__select" %>
        </div>
      </div>
      <%= render DashFormErrorComponent.new(model: @treatment_update, field: :status) %>
    </div>
  </div>

  <div class="dash-form__container">
    <div class="dash-form__group">
      <div class="dash-form__group__container">
        <div class="dash-form__group__left">
          <div class="dash-form__group__title">Data aktualizacji</div>
          <p class="dash-form__group__description">W którym dniu chcesz dodać aktualizację.</p>
        </div>
        <div class="dash-form__group__right">
          <%= form.datetime_field :update_date, class: "dash-form__input" %>
        </div>
      </div>
      <%= render DashFormErrorComponent.new(model: @treatment_update, field: :update_date) %>
    </div>
  </div>

  <div class="dash-form__group">
    <%= form.submit "Zapisz", class: "dash-form__submit dash-button dash-button--new" %>
  </div>
<% end %>
