<div id="<%= dom_id treatment_update %>">
  <p>
    <strong>Name:</strong>
    <%= treatment_update.name %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= treatment_update.status %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= treatment_update.description %>
  </p>

  <p>
    <strong>Update date:</strong>
    <%= treatment_update.update_date %>
  </p>

  <p>
    <strong>Treatment:</strong>
    <%= treatment_update.treatment_id %>
  </p>

</div>
