<div class="auth auth--login">
  <div class="auth__content">
    <header class="auth__header">
      <%= link_to root_path do %>
        <%= image_tag "logo_light.png", class: "auth__header__logo", alt: "" %>
      <% end %>
      <%= link_to 'Strona Główna', root_path, class: "auth__header__link" %>
    </header>

    <div class="auth__main">
      <div class=auth__heading>
        <h1 class="auth__title">Zaloguj się</h1>
        <p class="auth__desc">Rozpocznij już teraz, w pełni bezpłatnie.</p>
      </div>

      <div class="auth__social">
        <%= link_to user_google_oauth2_omniauth_authorize_path, method: :post, class: "auth__social-link" do %>
          <%= image_tag "google_logo.svg", class: "auth__social-icon", alt: "" %>
          <span class="auth__social-text">Zaloguj się przez Google</span>
        <% end %>
      </div>

      <p class="auth__separator">
        <span class="auth__separator__line"></span>
        <span class="auth__separator__text">lub</span>
        <span class="auth__separator__line"></span>
      </p>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "auth-form" }) do |f| %>
        <% if resource.errors.any? %>
          <div class="auth-form__error" data-turbo-cache="false">
            <h2 class="auth-form__error__title">Nie można wysłać formularza:</h2>
            <ul class="auth-form__error__list">
              <% resource.errors.full_messages.each do |message| %>
                <li class="auth-form__error__item"><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <% if alert %>
          <div class="auth-form__flash auth-form__alert">
            <%= alert %>
          </div>
        <% end %>

        <% if notice %>
          <div class="auth-form__flash auth-form__success">
            <%= notice %>
          </div>
        <% end %>

        <div class="auth-form__group">
          <%= f.label :email, "E-Mail", class: "auth-form__label" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email",
          class: "auth-form__input", placeholder: "jan.kowalski@gmail.com" %>
        </div>

        <div class="auth-form__group">
          <%= f.label :password, "Hasło", class: "auth-form__label" %>
          <%= f.password_field :password, autocomplete: "new-password",
          class: "auth-form__input", placeholder: "•••••••••••••" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="auth-form__group">
            <%= f.check_box :remember_me, class: "auth-form__checkbox-input" %>
            <%= f.label :remember_me, class: "auth-form__checkbox-label" do %>
              Zapamiętaj mnie
            <% end %>
          </div>
        <% end %>

        <%= f.submit "Zaloguj się", class: "auth-form__submit" %>
      <% end %>

      <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
        <p class="auth__text">
          Zapomniałeś hasła? <%= link_to "Zresetuj swoje hasło", new_password_path(resource_name), class: "auth__link" %>
        </p>
      <% end %>

      <p class="auth__text">
        Nie masz jeszcze konta? <%= link_to "Zarejestruj się", new_user_registration_path, class: "auth__link" %>
      </p>
    </div>
  </div>
  <div class="auth__sidebar">
    <%= link_to "Ilustracja pikisuperstar z Freepik", "https://www.freepik.com/free-vector/flat-design-people-with-disability-room_10627406.htm#page=11&position=15&from_view=author", class: "auth__credits" %>
  </div>
</div>
