<div class="new-disease-photo">
  <header class="dash-header">
    <div class="dash-header__left">
      <h1 class="dash-header__title"><%= t(".title") %></h1>
      <%= render "shared/breadcrumbs" %>
    </div>
    <div class="dash-header__right">
      <%= link_to disease_photos_path, class: "dash-button dash-button--back" do %>
        <i class="ri-arrow-left-line dash-button__icon"></i>
      <% end %>
    </div>
  </header>
  <div class="dash-flash-messages">
    <%= turbo_frame_tag "flash" do %>
      <%= render "shared/dash_flash" %>
    <% end %>
  </div>
  <div>
    <%= render "form" %>
  </div>
</div>
