<%= form_with(model: [:settings, @account], html: { class: "settings-form" } ) do |f| %>
  <div class="settings-form__group">
    <%= f.label :first_name, "Wykształcenie", class: "settings-form__label" %>
    <%= f.text_field :first_name, class: "settings-form__input" %>
    <%= render DashFormErrorComponent.new(model: @account, field: :first_name) %>
  </div>
  <div class="settings-form__group">
    <%= f.submit "Zapisz", class: "dash-button dash-button--new settings-form__submit" %>
  </div>
<% end %>
