<%= form_with model: disease, html: { class: "dash-form" } do |f| %>
  <% if disease.errors.any? %>
    <div class="dash-form__container">
      <%= render(DashAlertComponent.new(type: :error)) do %>
        <ul>
          <% disease.errors.each do |error| %>
            <li><%= error.message %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  <% end %>

  <div class="dash-form__container">
    <div class="dash-form__group">
      <div class="dash-form__group__left">
        <div class="dash-form__group__title">Nazwa choroby</div>
        <p class="dash-form__group__description">Wybierz jedną z listy predefiniowanych.</p>
      </div>
      <div class="dash-form__group__right">
        <%= f.select :predefined_disease_id, options_for_select(@predefined_diseases, @selected_disease_id),
            { include_blank: false }, class: "dash-form__input", disabled: @selected_disease_id.present? %>
      </div>
    </div>
  </div>
  <div class="dash-form__container">
    <div class="dash-form__group">
      <div class="dash-form__group__left">
        <div class="dash-form__group__title">Diagnoza</div>
        <p class="dash-form__group__description">Skąd wiesz o swojej chorobie.</p>
      </div>
      <div class="dash-form__group__right">
        <div class="dash-form__checkbox">
          <%= f.check_box :diagnosed_by_hp, class: "dash-form__checkbox__input" %>
          <%= f.label :diagnosed_by_hp, class: "dash-form__checkbox__label" do %>
            Czy choroba została zdiagnozowana przez lekarza?
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="dash-form__container">
    <div class="dash-form__group">
      <div class="dash-form__group__left">
        <div class="dash-form__group__title">Od kiedy to trwa?</div>
        <p class="dash-form__group__description">Kiedy pierwszy raz zaobserwowałeś objawy choroby.</p>
      </div>
      <div class="dash-form__group__right">
        <%= f.date_field :diagnosed_at, class: "dash-form__input dash-form__input-date" %>
      </div>
    </div>
  </div>
  <div class="dash-form__container">
    <div class="dash-form__group">
      <div class="dash-form__group__left">
        <div class="dash-form__group__title">Dotkliwość</div>
        <p class="dash-form__group__description">W skali od 1 do 5 jak bardzo poważna jest dla ciebie ta choroba.</p>
      </div>
      <div class="dash-form__group__right">
        <%= f.range_field :severity, min: 1, max: 5, step: 1, class: "dash-form__input-range" %>
      </div>
    </div>
  </div>
  <div class="dash-form__container">
    <div class="dash-form__group">
      <div class="dash-form__group__left">
        <div class="dash-form__group__title">Kolor</div>
        <p class="dash-form__group__description">Jakim kolorem chcesz, aby ta choroba była oznaczona na twoim profilu.</p>
      </div>
      <div class="dash-form__group__right">
        <div class="dash-form__checkbox">
          <%= f.color_field :color, value: "#f18449" %>
        </div>
      </div>
    </div>
  </div>
  <%= f.submit "Zapisz", class: "dash-form__submit dash-button dash-button--new" %>
<% end %>
