<div class="page-diseases">
  <header class="dash-header page-diseases__header">
    <div>
      <h1 class="dash-header__title">Choroby</h1>
      <%= render "shared/breadcrumbs" %>
    </div>
    <%= link_to new_disease_path, class: "dash-button dash-button--new" do %>
      <svg class="dash-button__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
      Dodaj nową chorobę
    <% end %>
  </header>
  <div class="page-diseases__content">
    <div class="diseases">
      <% if @diseases.any? %>
        <% @diseases.each do |disease| %>
          <%= link_to new_disease_path, class: "disease" do %>
            <div class="disease__content">
              <h3 class="disease__title">
                <%= disease.predefined_disease.name %>
              </h3>
              <div class="disease__more">
                Przejdź do choroby
              </div>
            </div>
          <% end %>
        <% end %>
      <% else %>
        <p class="no-results">
          Na razie nie dodałeś żadnych chorób.
        </p>
      <% end %>
    </div>
  </div>
  <div class="dash-pagination">
    <div class="dash-pagination__controls">
      <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
    </div>
    <div class="dash-pagination__info">
      <%== pagy_info(@pagy) %>
    </div>
  </div>
</div>
