<div class="page-diseases">
  <header class="dash-header page-diseases__header">
    <div class="dash-header__left">
      <h1 class="dash-header__title">
        <i class="ri-stethoscope-line dash-header__title__icon"></i>
        Choroby
      </h1>
      <%= render "shared/breadcrumbs" %>
    </div>
    <div class="dash-header__right">
      <%= link_to new_disease_path, class: "dash-button dash-button--new" do %>
        <i class="ri-add-line dash-button__icon"></i>
        Dodaj nową chorobę
      <% end %>
    </div>
  </header>
  <div class="dash-flash-messages">
    <% if flash[:notice].present? %>
      <%= render DashAlertComponent.new(type: :success) do %>
        <%= flash[:notice] %>
      <% end %>
    <% end %>
  </div>
  <div class="page-diseases__content">
    <% if @diseases.to_a.any? %>
      <div class="diseases">
        <% @diseases.each do |disease| %>
          <%= link_to disease, class: "disease" do %>
            <!-- <div class="disease__ribbon" style="background: <%= disease.color %>;"></div> -->
            <div class="disease__content">
              <h3 class="disease__title">
                <%= disease.predefined_disease.name %>
                <% if disease.diagnosed_by_hp? %>
                  <div class="disease__diagnosed" title="Zdiagnozowane przez lekarza">
                    <i class="ri-check-line"></i>
                  </div>
                <% end %>
              </h3>
              <div class="disease__badges">
                <div class="disease__badge disease__badge--severity-<%= disease.severity %>">
                  <%= severity_to_string disease.severity %>
                </div>
              </div>
              <div class="disease__more">
                Przejdź do choroby
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    <% else %>
      <p class="no-results">
        Na razie nie dodałeś żadnych chorób.
      </p>
    <% end %>
  </div>
  <div class="dash-pagination">
    <div class="dash-pagination__controls">
      <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
    </div>
    <div class="dash-pagination__info">
      <%== pagy_info(@pagy) %>
    </div>
  </div>
</div>
