<div class="page-group">
  <div class="dash-flash-messages">
    <%= turbo_frame_tag "flash" do %>
      <%= render "shared/dash_flash" %>
    <% end %>
  </div>
  <div class="page-group__content">
    <div class="group">
      <%= render "groups/header" %>
      <%= render "groups/nav" %>
      <div class="group__content">
        <%= turbo_frame_tag :new_group_post, src: new_group_post_path do %>
          Ładowanie ...
        <% end %>
        <div class="group-posts">
          <% if @posts.none? %>
            <%= turbo_frame_tag "empty_group_posts_#{@group.id}" do %>
              <p class="group-posts__empty">Brak postów w grupie.</p>
            <% end %>
          <% end %>
          <div class="dash-posts-container" id="group_posts_<%= @group.id %>">
            <% @posts.each do |post| %>
              <%= render partial: "groups/posts/post", locals: { post:, group: @group, liked_posts: @liked_posts } %>
            <% end %>
          </div>
        </div>
        <%= turbo_frame_tag :group_pagination do %>
          <%= render "pagination" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
