<div class="page-measurements">
  <header class="dash-header">
    <div class="dash-header__left">
      <h1 class="dash-header__title">
        <i class="ri-heart-pulse-line dash-header__title__icon"></i>
        Monitorowanie zdrowia
      </h1>
      <%= render "shared/breadcrumbs" %>
    </div>
    <div class="dash-header__right">
      <%= link_to authenticated_root_path, class: "dash-button dash-button--back" do %>
        <i class="ri-arrow-left-line dash-button__icon"></i>
      <% end %>
    </div>
  </header>
  <div class="dash-flash-messages">
    <%= turbo_frame_tag "flash" do %>
      <%= render "shared/dash_flash" %>
    <% end %>
  </div>
  <div class="page-measurements__content">
    <div class="dash-group">
      <header class="dash-group__header">
        <h2 class="dash-group__title">
          <i class="ri-health-book-line dash-group__title__icon"></i>
          Ostatnie pomiary
        </h2>
        <div class="dash-group__actions"></div>
      </header>
      <div class="dash-group__content">
        <div class="measurements-latest">
          <% Measurement::TYPES.each do |measurement| %>
            <div class="measurement-container">
              <div class="measurement measurement--<%= measurement %>
              <%= "measurement--dangerous" if @latest[measurement] and !@latest[measurement].is_within_limits %>">
                <div class="measurement__header">
                  <p class="measurement__title">
                    <%= I18n.t("activerecord.attributes.measurement_types.#{measurement}") %>
                  </p>
                  <% if @latest[measurement] and !@latest[measurement].is_within_limits %>
                    <p class="measurement__warning">!</p>
                  <% end %>
                </div>
                <div class="measurement__body">
                  <p class="measurement__value">
                    <%= @latest[measurement] ? @latest[measurement].value : '-' %>
                  </p>
                  <p class="measurement__symbol">
                    <%= @latest[measurement] ? @latest[measurement].measurement_type.unit.symbol : '-' %>
                  </p>
                </div>
                <div class="measurement__footer">
                  <% if @latest[measurement] %>
                    <%= link_to show_by_day_measurements_path(@latest[measurement].measurement_date.to_date),
                      class: "measurement__date" do %>
                      <i class="ri-calendar-line"></i>
                      <%= l(@latest[measurement].measurement_date, format: '%H:%M - %d %B %Yr.') %>
                    <% end %>
                  <% else %>
                    <p class="measurement__date">
                      <i class="ri-calendar-line"></i>
                      Brak pomiaru
                    </p>
                  <% end %>
                </div>
              </div>
              <%= link_to new_measurements_path(measurement_type: measurement),
                  class: "add-measurement add-measurement--#{measurement}" do %>
                <i class="ri-add-line"></i>
                Dodaj nowy pomiar
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="dash-group">
      <header class="dash-group__header">
        <h2 class="dash-group__title">
          <i class="ri-calendar-line dash-group__title__icon"></i>
          Kalendarz
        </h2>
        <div class="dash-group__actions"></div>
      </header>
      <div class="dash-group__content">
        <div class="measurements-calendar">
          <%= month_calendar do |date| %>
            <span class="date-day"><%= date.strftime("%d") %></span>
            <% measurements_count = @measurements[date] || 0 %>
            <% if measurements_count > 0 %>
              <%= link_to show_by_day_measurements_path(date), class: "measurements-num" do %>
                <%= measurements_count %> pomiarów
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
