<div class="page-measurements-by-day">
  <header class="dash-header">
    <div class="dash-header__left">
      <h1 class="dash-header__title">Pomiary z <%= l(@selected_datetime, format: ' %d %B %Yr.') %></h1>
      <%= render "shared/breadcrumbs" %>
    </div>
    <div class="dash-header__right">
      <%= link_to measurements_path, class: "dash-button dash-button--back" do %>
        <i class="ri-arrow-left-line dash-button__icon"></i>
      <% end %>
    </div>
  </header>
  <div class="dash-flash-messages">
    <%= turbo_frame_tag "flash" do %>
      <%= render "shared/dash_flash" %>
    <% end %>
  </div>
  <div class="page-measurements-by-day__content">
    <div class="dash-group dash-group--border">
      <header class="dash-group__header">
        <h2 class="dash-group__title"><%= t(".title") %></h2>
        <div class="dash-group__actions"></div>
      </header>
      <div class="dash-group__content">
        <% if @measurements.present? %>
          <ul class="measurements-list">
            <% @measurements.each do |measurement| %>
              <% measurement_name = measurement.measurement_type.name %>
              <%= link_to measurement_path(measurement),
                  class: "measurement-item measurement-item--#{measurement_name}
                  #{"measurement-item--dangerous" unless measurement.is_within_limits}" do %>
                <div class="measurement-item__left">
                  <div class="measurement-item__label">
                    <%= I18n.t("activerecord.attributes.measurement_types.#{measurement_name}") %>
                  </div>
                  <div class="measurement-item__value">
                    <%= measurement.value %>
                    <span class="measurement-item__symbol">
                      <%= measurement.measurement_type.unit.symbol %>
                    </span>
                  </div>
                  <% unless measurement.is_within_limits %>
                    <p class="measurement-item__warning">!</p>
                  <% end %>
                </div>
                <div class="measurement-item__time">
                  <%= t(".measurement.hour") %> <%= l(measurement.measurement_date, format: "%H:%M") %>
                </div>
              <% end %>
            <% end %>
          </ul>
        <% else %>
          <p><%= t(".no_results") %></p>
        <% end %>
      </div>
    </div>

    <div class="dash-pagination">
      <div class="dash-pagination__controls">
        <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
      </div>
      <div class="dash-pagination__info">
        <%== pagy_info(@pagy) %>
      </div>
    </div>
  </div>
</div>
