<div class="page-group">
  <div class="dash-flash-messages">
    <%= turbo_frame_tag "flash" do %>
      <%= render "shared/dash_flash" %>
    <% end %>
  </div>
  <div class="page-group__content">
    <div class="group">
      <%= render "groups/header" %>
      <%= render "groups/nav" %>
      <div class="group__content">
        <div class="group-symptoms">
          <div class="dash-group">
            <header class="dash-group__header">
              <h2 class="dash-group__title">
                <i class="ri-hearts-line dash-group__title__icon"></i>
                <%= t(".title") %>
              </h2>
              <div class="dash-group__actions"></div>
            </header>
            <div class="dash-group__content">
              <div class="group-statuses">
                <p class="group-statuses__text"><%= t(".description") %></p>
                <%= turbo_frame_tag "posts_#{@pagy.page}" do %>
                  <% unless @posts.to_a.any? %>
                    <p class="no-results"><%= t(".no_results") %></p>
                  <% else %>
                    <div class="dash-posts-container">
                      <% @posts.each do |post| %>
                        <%= render partial: "disease_statuses/disease_status", locals: { disease: post.disease, disease_status: post,
                            liked_statuses: @liked_statuses } %>
                      <% end %>
                    </div>
                  <% end %>
                  <% unless @pagy.page == @pagy.pages %>
                    <%= turbo_frame_tag "posts_#{@pagy.next}", src: account_posts_path(page: @pagy.next),
                        loading: "lazy" do %>
                      <div><%= t(".turbo.fetching") %></div>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
