<% if outgoing.to_a.any? %>
  <ul class="requests-list">
    <% outgoing.each do |request| %>
      <li class="request-item" id="request-<%= request.id %>">
        <div class="request-item__left">
          <div class="request-item__avatar">
            <%= image_tag "avatar-placeholder.png", alt: request.friend.full_name, class: "request-item__image" %>
          </div>
          <%= link_to account_path(request.friend), class: "request-item__info" do %>
            <p class="request-item__name"><%= request.friend.full_name %></p>
            <p class="request-item__username">@<%= request.friend.username %></p>
          <% end %>
        </div>
        <div class="request-item__right">
          <%= button_to friend_request_path(request), method: :delete, class: "request-item__button" do %>
            <i class="ri-close-line request-item__icon"></i>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>
<% else %>
  <p class="dash-group__text">Brak wysłanych zaproszeń.</p>
<% end %>
