<div class="page-friend-requests">
  <header class="dash-header">
    <div class="dash-header__left">
      <h1 class="dash-header__title">
        <i class="ri-inbox-2-line dash-header__title__icon"></i>
        <%= t(".title") %>
      </h1>
      <%= render "shared/breadcrumbs" %>
    </div>
    <div class="dash-header__right">
      <%= link_to account_friends_path(current_account), class: "dash-button dash-button--back" do %>
        <i class="ri-arrow-left-line dash-button__icon"></i>
      <% end %>
    </div>
  </header>
  <div class="dash-flash-messages">
    <%= turbo_frame_tag "flash" do %>
      <%= render "shared/dash_flash" %>
    <% end %>
  </div>
  <div class="page-friend-requests__content">
    <div class="requests-group">
      <div class="dash-group">
        <header class="dash-group__header">
          <h2 class="dash-group__title">
            <i class="ri-mail-unread-line dash-group__title__icon"></i>
            <%= t(".recieved_requests") %>
          </h2>
          <div class="dash-group__actions"></div>
        </header>
        <div class="dash-group__content">
          <% if @incoming.to_a.any? %>
            <ul class="requests-list">
              <% @incoming.each do |request| %>
                <li class="request-item">
                  <div class="request-item__left">
                    <div class="request-item__avatar">
                      <%= image_tag "avatar-placeholder.png", alt: request.account.full_name, class: "request-item__image" %>
                    </div>
                    <%= link_to account_path(request.account), class: "request-item__info" do %>
                      <p class="request-item__name"><%= request.account.full_name %></p>
                      <p class="request-item__username">@<%= request.account.username %></p>
                    <% end %>
                  </div>
                  <div class="request-item__right">
                    <%= button_to friend_request_path(request), method: :patch,
                        class: "request-item__button" do %>
                      <i class="ri-check-line request-item__icon request-item__icon--accept"></i>
                    <% end %>
                    <%= button_to friend_request_path(request), method: :delete,
                        class: "request-item__button" do %>
                      <i class="ri-close-line request-item__icon request-item__icon--reject"></i>
                    <% end %>
                  </div>
                </li>
              <% end %>
            </ul>
          <% else %>
            <p class="dash-group__text"><%= t(".no_recieved_requests") %></p>
          <% end %>
        </div>
      </div>
      <div class="dash-pagination">
        <div class="dash-pagination__controls">
          <%== pagy_nav(@pagy_incoming) if @pagy_incoming.pages > 1 %>
        </div>
        <div class="dash-pagination__info">
          <%== pagy_info(@pagy_incoming) %>
        </div>
      </div>
    </div>
    <div class="requests-group">
      <div class="dash-group">
        <header class="dash-group__header">
          <h2 class="dash-group__title">
            <i class="ri-mail-send-line dash-group__title__icon"></i>
            <%= t(".outgoing_requests") %>
          </h2>
          <div class="dash-group__actions"></div>
        </header>
        <div class="dash-group__content" id="outgoing_requests">
          <%= render partial: "outgoing_requests", locals: { outgoing: @outgoing } %>
        </div>
      </div>
      <turbo-frame id="dash_pagination">
        <%= render partial: "shared/dash_pagination", locals: { pagy: @pagy_outgoing } %>
      </turbo-frame>
    </div>
  </div>
</div>
