<div class="auth auth--change-password">
  <div class="auth__content">
    <header class="auth__header">
      <%= link_to root_path do %>
        <%= image_tag "logo_light.png", class: "auth__header__logo", alt: "" %>
      <% end %>
      <%= link_to 'Strona Główna', root_path, class: "auth__header__link" %>
    </header>

    <div class="auth__main">
      <div class=auth__heading>
        <h1 class="auth__title">Zresetuj hasło</h1>
        <p class="auth__desc">Podaj nowe hasło do platformy.</p>
      </div>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: "auth-form" }) do |f| %>
        <% if resource.errors.any? %>
          <div class="auth-form__error" data-turbo-cache="false">
            <h2 class="auth-form__error__title">Nie można wysłać formularza:</h2>
            <ul class="auth-form__error__list">
              <% resource.errors.full_messages.each do |message| %>
                <li class="auth-form__error__item"><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <%= f.hidden_field :reset_password_token %>

        <div class="auth-form__group">
          <%= f.label :password, " Nowe hasło", class: "auth-form__label" %>
          <%= f.password_field :password, autofocus: true, autocomplete: "new-password",
          class: "auth-form__input", placeholder: "•••••••••••••" %>
        </div>

        <div class="auth-form__group">
          <%= f.label :password_confirmation, "Potwierdź nowe hasło", class: "auth-form__label"  %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password",
          class: "auth-form__input", placeholder: "•••••••••••••" %>
        </div>

        <%= f.submit "Zmień hasło", class: "auth-form__submit" %>
      <% end %>

      <p class="auth__text">
        Jednak pamiętasz hasło? <%= link_to "Zaloguj się", new_user_session_path, class: "auth__link" %>
      </p>

    </div>
  </div>
  <div class="auth__sidebar">
    <%= link_to "Ilustracja z Freepik", "https://www.freepik.com/free-vector/home-interior-background-concept_9694077.htm#page=2&position=44&from_view=author", class: "auth__credits" %>
  </div>
</div>
