<div class="auth auth--change-password">
  <div class="auth__content">
    <header class="auth__header">
      <%= link_to root_path do %>
        <%= localized_logo_image_tag class: "auth__header__logo", alt: "" %>
      <% end %>
      <%= link_to t(".home"), root_path, class: "auth__header__link" %>
    </header>

    <div class="auth__main">
      <div class=auth__heading>
        <h1 class="auth__title"><%= t(".title") %></h1>
        <p class="auth__desc"><%= t(".description") %></p>
      </div>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name),
          html: { method: :put, class: "auth-form" }) do |f| %>
        <%= f.hidden_field :reset_password_token %>

        <div class="auth-form__group">
          <%= render(
            AuthInputTextComponent.new(
              form: f,
              model: resource,
              type: :password_field,
              field: :password,
              label: t(".form.password.label"),
              options: {
                autocomplete: "new-password",
                placeholder: t(".form.password.placeholder")
              }
            ))
          %>
        </div>

        <div class="auth-form__group">
          <%= render(
            AuthInputTextComponent.new(
              form: f,
              model: resource,
              type: :password_field,
              field: :password_confirmation,
              label: t(".form.password_confirmation.label"),
              options: {
                autocomplete: "new-password",
                placeholder: t(".form.password_confirmation.placeholder")
              }
            ))
          %>
        </div>

        <%= f.submit t(".form.submit"), class: "auth-form__submit" %>
      <% end %>

      <p class="auth__text">
        <%= t(".reminded") %> <%= link_to t(".sign_in"), new_user_session_path, class: "auth__link" %>
      </p>

    </div>
  </div>
  <div class="auth__sidebar">
    <%= link_to t(".credits"), "https://www.freepik.com/free-vector/home-interior-background-concept_9694077.htm#page=2&position=44&from_view=author", class: "auth__credits" %>
  </div>
</div>
