<div class="page-disease-symptom">
  <header class="dash-header">
    <div class="dash-header__left">
      <h1 class="dash-header__title"><%= @symptom_name %></h1>
      <%= render "shared/breadcrumbs" %>
    </div>
    <div class="dash-header__right">
      <%= link_to edit_disease_disease_symptom_path, class: "dash-button dash-button--info" do %>
        <i class="ri-edit-2-line dash-button__icon"></i>
        Edytuj
      <% end %>
      <%= button_to [@disease, @disease_symptom], class: "dash-button dash-button--delete",
          method: :delete, form: { data: { turbo_confirm: 'Czy na pewno chcesz usunąć?' } } do %>
        <i class="ri-close-line dash-button__icon"></i>
        Usuń
      <% end %>
      <%= link_to disease_disease_symptoms_path, class: "dash-button dash-button--back" do %>
        <i class="ri-arrow-left-line dash-button__icon"></i>
      <% end %>
    </div>
  </header>
  <div class="dash-flash-messages">
    <% if flash[:notice].present? %>
      <%= render DashAlertComponent.new(type: :success) do %>
        <%= flash[:notice] %>
      <% end %>
    <% end %>
  </div>
  <div class="page-disease-symptom__content">
    <div class="page-disease-symptom__content__left">
      <div class="dash-group dash-group--border">
        <header class="dash-group__header">
          <h2 class="dash-group__title">Informacje</h2>
          <div class="dash-group__actions"></div>
        </header>
        <div class="dash-group__content">
          <div class="dash-info">
            <div class="dash-info__group">
              <div class="dash-info__group__left">
                <div class="dash-info__group__label">Opis</div>
                <div class="dash-info__group__desc">Opisz dokładnie swój objaw.</div>
              </div>
              <div class="dash-info__group__right">
                <div class="dash-info__group__value"><%= @disease_symptom.description %></div>
              </div>
            </div>
            <div class="dash-info__group">
              <div class="dash-info__group__left">
                <div class="dash-info__group__label">Od kiedy?</div>
                <div class="dash-info__group__desc">Kiedy dany objaw zaczął występować.</div>
              </div>
              <div class="dash-info__group__right">
                <div class="dash-info__group__value">
                  <% if @disease_symptom.first_noticed_at.present? %>
                    <%= @disease_symptom.first_noticed_at %>
                  <% else %>
                    Nie podano daty
                  <% end %>
                </div>
              </div>
            </div>
            <div class="dash-info__group">
              <div class="dash-info__group__left">
                <div class="dash-info__group__label">Intensywność objawu</div>
                <div class="dash-info__group__desc">Jak oceniasz nasilenie tego objawu.</div>
              </div>
              <div class="dash-info__group__right">
                <div class="dash-info__group__value">
                  <% if @disease_symptom_updates.to_a.any? %>
                    <%= @disease_symptom_updates.first.intensity %>/5 - <%= intensity_to_emoji(@disease_symptom_updates.first.intensity) %>
                  <% else %>
                    Brak danych
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="dash-group">
        <header class="dash-group__header">
          <h2 class="dash-group__title">Zmień intensywność objawu</h2>
          <div class="dash-group__actions"></div>
        </header>
        <div class="dash-group__content">
          <% if @disease_symptom_updates.to_a.any? %>
            <div class="diseases" id="disease-symptom-updates">
              <% @disease_symptom_updates.each do |disease| %>
                <%= render "disease_symptom_updates/symptom_update", model: disease %>
              <% end %>
            </div>
          <% else %>
            <p class="no-results">
              Na razie nie dodałeś żadnych aktualizacji objawu.
            </p>
          <% end %>
          <div class="dash-pagination">
            <div class="dash-pagination__controls">
              <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
            </div>
            <div class="dash-pagination__info">
              <%== pagy_info(@pagy) %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="page-disease-symptom__content__right">
      <div class="dash-group dash-group--border">
        <header class="dash-group__header">
          <h2 class="dash-group__title">Zmień intensywność objawu</h2>
          <div class="dash-group__actions"></div>
        </header>
        <div class="dash-group__content">
          <%= render "disease_symptom_updates/form" %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
