<%= form_with(
      model: [@disease, @disease_symptom, @disease_symptom_update],
      html: { class: "dash-form dash-form--simple" },
      id: dom_id(@disease_symptom_update)
    ) do |form|
%>
  <div class="dash-form__simple-group">
    <%= form.label :intensity, "Intensywność (1-5)", class: "dash-form__label" %>
    <%= form.number_field :intensity, min: 1, max: 7, value: 1, class: "dash-form__input" %>
    <%= render DashFormErrorComponent.new(model: @disease_symptom_update, field: :intensity) %>
  </div>

  <div class="dash-form__simple-group">
    <%= form.label :update_date, "Data", class: "dash-form__label" %>
    <%= form.date_field :update_date, class: "dash-form__input" %>
    <%= render DashFormErrorComponent.new(model: @disease_symptom_update, field: :update_date) %>
  </div>

  <%= form.submit "Dodaj", class: "dash-form__submit dash-button dash-button--new" %>
<% end %>
