<p style="color: green"><%= notice %></p>

<%= render @disease_symptom_update %>

<div>
  <%= link_to "Edit this disease symptom update", edit_disease_symptom_update_path(@disease_symptom_update) %> |
  <%= link_to "Back to disease symptom updates", disease_symptom_updates_path %>

  <%= button_to "Destroy this disease symptom update", @disease_symptom_update, method: :delete %>
</div>
