<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title><%= yield(:title).presence || I18n.t("site.title") %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800;900&display=swap" rel="stylesheet" />

    <!-- Remixicons -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css" rel="stylesheet">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%= yield :head %>
  </head>
  <body <%= yield(:body_attributes) %>>
    <%= content_for?(:body) ? yield(:body) : yield %>

    <%= yield :javascript %>
  </body>
  </html>
