<% content_for :body do %>
  <div class="dashboard">
    <div class="sidebar">
      <div class="sidebar__profile">
        <%= image_tag user_image, alt: "profile picture", class: "sidebar__profile__picture" %>
        <%= link_to account_path(current_account), class: "sidebar__profile__info" do %>
          <p class="sidebar__profile__name"><%= user_full_name %></p>
          <p class="sidebar__profile__email"><%= user_username %></p>
        <% end %>
      </div>
      <nav class="sidebar__nav">
        <div class="sidebar__nav__group">
          <p class="sidebar__nav__title">Szybki dostęp:</p>
          <ul class="sidebar__items">
            <li class="sidebar__item">
              <%= link_to authenticated_root_path, class: "sidebar__link" do %>
                <div class="sidebar__link__group">
                  <i class="ri-home-3-line sidebar__link__icon"></i>
                  <span class="sidebar__link__text">Strona główna</span>
                </div>
                <i class="ri-arrow-right-s-line sidebar__link__icon"></i>
              <% end %>
            </li>
          </ul>
        </div>

        <div class="sidebar__nav__group">
          <p class="sidebar__nav__title">Twoje zdrowie:</p>
          <ul class="sidebar__items">
            <li class="sidebar__item">
              <%= link_to diseases_path, class: "sidebar__link" do %>
                <div class="sidebar__link__group">
                  <i class="ri-stethoscope-line sidebar__link__icon"></i>
                  <span class="sidebar__link__text">Choroby</span>
                </div>
                <i class="ri-arrow-right-s-line sidebar__link__icon"></i>
              <% end %>
            </li>
            <li class="sidebar__item">
              <%= link_to groups_path, class: "sidebar__link" do %>
                <div class="sidebar__link__group">
                  <i class="ri-group-line sidebar__link__icon"></i>
                  <span class="sidebar__link__text">Grupy chorych</span>
                </div>
                <i class="ri-arrow-right-s-line sidebar__link__icon"></i>
              <% end %>
            </li>
            <li class="sidebar__item">
              <%= link_to treatments_path, class: "sidebar__link" do %>
                <div class="sidebar__link__group">
                  <i class="ri-hospital-line sidebar__link__icon"></i>
                  <span class="sidebar__link__text">Terapie</span>
                </div>
                <i class="ri-arrow-right-s-line sidebar__link__icon"></i>
              <% end %>
            </li>
            <li class="sidebar__item">
              <%= link_to measurements_path, class: "sidebar__link" do %>
                <div class="sidebar__link__group">
                  <i class="ri-heart-pulse-line sidebar__link__icon"></i>
                  <span class="sidebar__link__text">Monitorowanie zdrowia</span>
                </div>
                <i class="ri-arrow-right-s-line sidebar__link__icon"></i>
              <% end %>
            </li>
            <li class="sidebar__item">
              <%= link_to authenticated_root_path, class: "sidebar__link" do %>
                <div class="sidebar__link__group">
                  <i class="ri-test-tube-line sidebar__link__icon"></i>
                  <span class="sidebar__link__text">Wyniki badań</span>
                </div>
                <i class="ri-arrow-right-s-line sidebar__link__icon"></i>
              <% end %>
            </li>
            <li class="sidebar__item">
              <%= link_to notes_path, class: "sidebar__link" do %>
                <div class="sidebar__link__group">
                  <i class="ri-sticky-note-line sidebar__link__icon"></i>
                  <span class="sidebar__link__text">Notatki</span>
                </div>
                <i class="ri-arrow-right-s-line sidebar__link__icon"></i>
              <% end %>
            </li>
          </ul>
        </div>

        <div class="sidebar__nav__group sidebar__nav__group--social">
          <p class="sidebar__nav__title">Społeczność:</p>
          <ul class="sidebar__items">
            <li class="sidebar__item">
              <%= link_to account_friends_path(current_account), class: "sidebar__link" do %>
                <div class="sidebar__link__group">
                  <i class="ri-contacts-line sidebar__link__icon"></i>
                  <span class="sidebar__link__text">Twoi znajomi</span>
                </div>
                <i class="ri-arrow-right-s-line sidebar__link__icon"></i>
              <% end %>
            </li>
            <li class="sidebar__item">
              <%= link_to friend_requests_path, class: "sidebar__link" do %>
                <div class="sidebar__link__group">
                  <i class="ri-inbox-2-line  sidebar__link__icon"></i>
                  <span class="sidebar__link__text">Zaproszenia</span>
                </div>
                <i class="ri-arrow-right-s-line sidebar__link__icon"></i>
              <% end %>
            </li>
            <li class="sidebar__item">
              <%= link_to accounts_path, class: "sidebar__link" do %>
                <div class="sidebar__link__group">
                  <i class="ri-group-2-line sidebar__link__icon"></i>
                  <span class="sidebar__link__text">Wszystkie osoby</span>
                </div>
                <i class="ri-arrow-right-s-line sidebar__link__icon"></i>
              <% end %>
            </li>
            <li class="sidebar__item">
              <%= link_to authenticated_root_path, class: "sidebar__link" do %>
                <div class="sidebar__link__group">
                  <i class="ri-nurse-line sidebar__link__icon"></i>
                  <span class="sidebar__link__text">Specjaliści</span>
                </div>
                <i class="ri-arrow-right-s-line sidebar__link__icon"></i>
              <% end %>
            </li>
            <li class="sidebar__item">
              <%= link_to authenticated_root_path, class: "sidebar__link" do %>
                <div class="sidebar__link__group">
                  <i class="ri-profile-line sidebar__link__icon"></i>
                  <span class="sidebar__link__text">Strefa wiedzy</span>
                </div>
                <i class="ri-arrow-right-s-line sidebar__link__icon"></i>
              <% end %>
            </li>
            <li class="sidebar__item">
              <%= link_to authenticated_root_path, class: "sidebar__link" do %>
                <div class="sidebar__link__group">
                  <i class="ri-calendar-2-line sidebar__link__icon"></i>
                  <span class="sidebar__link__text">Wydarzenia</span>
                </div>
                <i class="ri-arrow-right-s-line sidebar__link__icon"></i>
              <% end %>
            </li>
          </ul>
        </div>

        <div class="sidebar__nav__group sidebar__nav__group--account">
          <p class="sidebar__nav__title">Twoje konto:</p>
          <ul class="sidebar__items">
            <li class="sidebar__item">
              <%= link_to settings_settings_path, class: "sidebar__link" do %>
                <div class="sidebar__link__group">
                  <i class="ri-settings-3-line sidebar__link__icon"></i>
                  <span class="sidebar__link__text">Ustawienia</span>
                </div>
                <i class="ri-arrow-right-s-line sidebar__link__icon"></i>
              <% end %>
            </li>
            <li class="sidebar__item">
              <%= button_to destroy_user_session_path, method: :delete, class: "sidebar__form-item" do %>
                <div class="sidebar__link">
                  <div class="sidebar__link__group">
                    <i class="ri-logout-box-line sidebar__link__icon"></i>
                    <span class="sidebar__link__text">Wyloguj</span>
                  </div>
                  <i class="ri-arrow-right-s-line sidebar__link__icon"></i>
                </div>
              <% end %>
            </li>
          </ul>
        </div>
      </nav>
      <div class="sidebar__footer">
        <p class="sidebar__footer__text" >&copy; 2023 - Przewlekli.pl</p>
      </div>
    </div>

    <div class="dashboard__content">
      <header class="header">
        <%= link_to root_path do %>
          <%= image_tag "logo_light.png", class: "header__logo", alt: "" %>
        <% end %>
        <div class="header__right">
          <%= link_to authenticated_root_path, class: "header__main-button" do %>
            <i class="ri-psychotherapy-line header__main-button__icon"></i>
            MojeZdrowie&#8482;
          <% end %>
          <div class="header__search">
            <div class="header__search__icon-container">
              <i class="ri-search-line header__search__icon"></i>
            </div>
            <input type="text" class="header__search__input" placeholder="Szukaj">
          </div>
          <div class="header__buttons">
            <button class="header__button">
              <i class="ri-team-line header__button__icon"></i>
            </button>
            <button class="header__button">
              <i class="ri-chat-3-line"></i>
            </button>
            <button class="header__button">
              <i class="ri-notification-3-line"></i>
            </button>
            <button class="header__button">
              <i class="ri-more-fill"></i>
            </button>
          </div>
        </div>
      </header>
      <main class="main">
        <div class="main__container">
          <%= yield %>
        </div>
      </main>
    </div>
  </div>
<% end %>

<%= render template: "layouts/application" %>
