<div class="page-accounts">
  <header class="dash-header">
    <div class="dash-header__left">
      <h1 class="dash-header__title">Wszystkie osoby</h1>
      <%= render "shared/breadcrumbs" %>
    </div>
    <div class="dash-header__right">
      <%= link_to measurements_path, class: "dash-button dash-button--back" do %>
        <i class="ri-arrow-left-line dash-button__icon"></i>
        Powrót
      <% end %>
    </div>
  </header>
  <div class="dash-flash-messages">
    <%= turbo_frame_tag "flash" %>
  </div>
  <div class="page-accounts__content">
    <div class="accounts-list">
      <% @accounts.each do |account| %>
        <div class="account">
          <%= link_to account_path(account), class: "account__info" do %>
            <%= image_tag "avatar-placeholder.png", class: "account__avatar" %>
            <h3 class="account__name"><%= account.full_name %></h3>
            <p class="account__username">@<%= account.username %></p>
          <% end %>
          <div class="account__actions">
            <% if current_account == account %>
              <%= link_to account_path(account), class: "account__button account__button--you" do %>
                <i class="ri-user-line"></i>
                Twój profil
              <% end %>
            <% elsif current_account.friend?(account) %>
              <%= link_to account_path(account), class: "account__button account__button--friend" do %>
                <i class="ri-user-shared-line"></i>
                Znajomy
              <% end %>
              <%= link_to account_path(account), class: "account__button account__button--msg" do %>
                <i class="ri-chat-4-line"></i>
                Wiadomość
              <% end %>
            <% else %>
              <%= button_to friend_requests_path(account_id: @account), method: :post,
                    class: "account__button account__button--add", form_class: "w-full" do %>
                <i class="ri-user-add-line"></i>
                Dodaj znajomego
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="dash-pagination">
    <div class="dash-pagination__controls">
      <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
    </div>
    <div class="dash-pagination__info">
      <%== pagy_info(@pagy) %>
    </div>
  </div>
</div>
